<% visitor = notification.visitor %>
<% visited = notification.visited %>
<% if notification.checked == false %>
  <div class = 'card'>
    <div class= 'card-body'>
      <div class= 'd-flex'>
        <div class= 'avatar-wrapper'>
          <%= image_tag visitor.avatar.url, class:'avatar-notice' %>
        </div>
        <div class= 'notice-wrapper'>
          <%= link_to user_path(visitor),class: 'btn btn-link notice-link' do %>
            <%= visitor.username %>
            さんが
            <% case notification.action %>
            <% when 'dm' then %>
              あなたに
              <%= link_to 'メッセージ', notification.room, class: 'btn btn-link notice-link' %>
              を送りました。
              <%= link_to I18n.t('notice.read'),notification_path(notification.id),method: :put, class: 'btn btn-link notice-link' %>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
<% end %>