<div class='container py-5 text-center'>
<h2 class='text-center border-bottom pb-4 font-weight-bolder'>Passwordの再発行</h2>
<div class='mt-5'>
<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>
  <br>
  <div class="actions">
    <%= f.submit "Passwordの再発行", class:'btn btn-secondary' %>
  </div>
<% end %>
<br>
<br>

<%= render "devise/shared/links" %>
</div>
</div>
