
<!-- Footer-->
<footer class="absolute mt-5 py-5 bg-dark">
  <div class="container text-center">
  <p class="m-0 text-center text-white">SmoothTrade 2022</p>
  <br>
  <%= link_to 'プライバシーポリシー', privacypolicys_top_path, class: 'text-blue' %>
  <span class="text-muted px-2">|</span>
  <%= link_to '利用規約', terms_of_services_top_path, class: 'text-blue' %>
  <span class="text-muted px-2">|</span>
  <%= link_to 'web plofile', web_plofiles_top_path %>
  <span class="text-muted px-2">|</span>
  <%= link_to 'Support', supports_top_path %>
  <span class="text-muted px-2">|</span>
  <%= link_to 'Help', helps_top_path %>
  </div>
</footer>