<nav class="my-0 navbar navbar-expand-lg navbar-dark bg-dark">
  <%= link_to posts_path do %>
  <%= image_tag 'logo.jpg', size: '40x40', class: 'rounded-circle mr15'%>
  <% end %>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <span class="text-muted px-2"></span>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto main-nav align-items-center">
        <li class="nav-item">
          <%= link_to 'お知らせ', '#', class:"text-white font-weight-bold" %>
        </li>
        <span class="text-muted px-2">|</span>
        <li class="nav-item">
          <% if unchecked_notifications.any? %>
            <%= link_to notifications_path do %>
              <i class="fas fa-bellfas fa-bell faa-ring animated" style="color: #ff7f7f;" ></i>
            <% end %>
          <% else %>
            <%= link_to notifications_path , class: "nav-link" do %>
              <i class="fas fa-bell" style="color: cornflowerblue;"></i>
            <% end %>
          <% end %>
        </li>
        <span class="text-muted px-2">|</span>
        <li class="nav-item">
          <%= link_to 'マイページ', mypage_index_path, class:"text-white font-weight-bold" %>
        </li>
        <span class="text-muted px-2">|</span>
        <li class="nav-item">
          <%= link_to 'DM', rooms_path, class:"text-white font-weight-bold" %>
        </li>
        <span class="text-muted px-2">|</span>
        <li class="nav-item">
          <%= link_to '出品作成', new_post_path, class: 'dropdown-item text-danger font-weight-bold' %>
        </li>
        <%= link_to 'https://twitter.com/Smoothtrade212', target: :_blank, class:'px-2' do %>
          <i class="fab fa-twitter"></i>
        <% end %>
        <li class="nav-item dropdown dropdown-slide">
          <a href="#" class="nav-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" id="header-profile">
          <%= image_tag current_user.avatar.url, size: '40x40', class: 'rounded-circle mr15'%>
          </a>
          <div class="dropdown-menu dropdown-menu-right">
            <div class="dropdown-item"><%= current_user.username %></div>
            <div class="dropdown-divider"></div>
            <%= link_to 'プロフィール変更', edit_user_registration_path, class:"dropdown-item" %>
            <%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class:"dropdown-item" %>
          </div>
        </li>
      </ul>
  </div>
</nav>


