<div class="container pt-3">
  <div class="row">
    <div class="col-lg-10 offset-lg-1 text-center">
      <h1 class="fw-bolder"><i class="fas fa-spider"></i>SmoothTrade<i class="fas fa-spider"></i></h1>
      <% unless user_signed_in? %>
        <%= link_to '新規会員登録はこちら', new_user_registration_path %>
      <% end %>
    </div>
  </div>

  <!-- 掲示板一覧 -->
  <div class="row mt-5">
    <div class="col-12">
      <div class="row">
        <% if @posts.present? %>
        <% @posts.each do |post| %>
        <div class="col-sm-12 col-lg-4 mb-3">
        <div id="post-id-<%= post.id %>">
          <div class="card">
            <%= image_tag post.post_image_url, class: 'card-img-top', size: '200x300' %>
            <div class="card-body">
              <h4 class="card-title">
                <%= link_to post.title, post_path(post) %>
              </h4>
              
              <ul class="list-inline">
                <li class="list-inline-item">
                  <%= image_tag post.user.avatar.url, size: '40x40', class: 'rounded-circle mr15'%>
                  <%= link_to post.user.username, index_user_post_path(post.user_id), class: 'nav-link'  %>
                </li>
                <li class="list-inline-item">
                  <%= icon 'far', 'calendar' %>
                  <%= l post.created_at, format: :long %>
                </li>
              </ul>
              <div class="body_area">
                <h7>●譲渡品：</h7>
                <p class="card-text"><%=safe_join(post.body.split("\n"),tag(:br))%></p>
              </div>
              <div class="body_area">
              <h7>●希望品：</h7>
                <p class="card-text"><%=safe_join(post.wish_body.split("\n"),tag(:br))%></p>
              </div>
              <% if post.year == true %>
                <div class="body_area">
                <h7>・販売年</h7>
                  <p class="card-text"><%= post.year %></p>
                </div>
              <% end %>
              <% if post.post_category == true %>
                <div class="body_area">
                <h7>・ブランド名</h7>
                  <p class="card-text"><%= post.post_category %></p>
                </div>
              <% end %>
              <% if post.goods_category == true %>
                <div class="body_area">
                <h7>・カテゴリー</h7>
                  <p class="card-text"><%= post.goods_category %></p>
                </div>
              <% end %>
              <% if post.goods_name == true %>
                <div class="body_area">
                <h7>・グッズ販売名</h7>
                  <p class="card-text"><%= post.goods_name %></p>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>
      <%  end %>
        <% else %>
          <p><%= t('.no_result') %></p>
        <% end %>
      </div>
      <%= paginate @posts, theme: 'twitter-bootstrap-4'  %>
    </div>
  </div>
</div>




