<div class="container">
<br>
  <div class="row">
    <div class="col no-gutters">
      <%= image_tag 'support1.jpg', class:"img-fluid" %>
    </div>
  </div>
  <div class="row">
    <div class="col no-gutters border-top">
      <%= image_tag 'support2.jpg', class:"img-fluid" %>
    </div>
  </div>
  <div class="row">
    <div class="col no-gutters border-top">
      <%= image_tag 'support3.jpg', class:"img-fluid" %>
    </div>
  </div>
  <div class="row">
    <div class="col no-gutters border-top">
      <%= image_tag 'support4.jpg', class:"img-fluid" %>
    </div>
  </div>
  <div class="row">
    <div class="col no-gutters border-top">
      <%= image_tag 'support5.jpg', class:"img-fluid" %>
    </div>
  </div>
  <div class="row">
    <div class="col no-gutters border-top">
      <%= image_tag 'support6.jpg', class:"img-fluid" %>
    </div>
  </div>
  <div class="row">
    <div class="col no-gutters border-top">
      <%= image_tag 'support7.jpg', class:"img-fluid" %>
    </div>
  </div>
  <div class="row">
    <div class="col no-gutters border-top">
      <%= image_tag 'support8.jpg', class:"img-fluid" %>
    </div>
  </div>
  <div class="row">
    <div class="col no-gutters border-top">
      <%= image_tag 'support9.jpg', class:"img-fluid" %>
    </div>
  </div>
  <div class="row">
    <div class="col no-gutters border-top">
      <%= image_tag 'support10.jpg', class:"img-fluid" %>
    </div>
  </div>
</div>