<%= link_to '出品一覧', my_posts_index_path, class: 'nav-link' %>
<%= link_to 'いいね一覧', bookmarks_posts_path, class: 'nav-link' %>
<%= link_to 'フォロワー 一覧', user_followers_path(current_user), class: 'nav-link' %>
<%= link_to 'フォロー 一覧', user_followings_path(current_user), class: 'nav-link' %>
<tr>
  <td><%=current_user.username %></td>
  <td>フォロー数: <%= current_user.followings.count %></td>
  <td>フォロワー数: <%= current_user.followers.count %></td>
</tr>
<%= link_to 'フォローしたユーザーにdmを送る', users_path, class: 'nav-link' %>
<%= link_to 'フォロワーのユーザーにdmを送る', users_index_followers_path, class: 'nav-link' %>