<!DOCTYPE html>
<html>
  <head>
    <% if Rails.env.production? %>
      <%= render 'layouts/google_analytics' %>
    <% end %>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Smoothtrade</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome-animation/0.2.1/font-awesome-animation.css" type="text/css" media="all" />
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:site" content="@Smoothtrade212" />
    <meta property="og:title" content="<%= full_title(yield(:title)) %>" />
    <meta property="og:url" content="<%= request.url %>" />
    <meta property="og:description"
      content="<%= content_for?(:description) ? yield(:description) : 'トレーディング専用webサイトです。' %>" />
    <meta property="og:image"
      ontent="<%= content_for?(:image_url) ? yield(:image_url) : full_url('/assets/other/ogp_default.png') %>" />
    <%= display_meta_tags(default_meta_tags) %>
  </head>

  <body>
  <div class='background'>
    <% if user_signed_in? %>
      <%= render 'shared/header' %>
    <% else %>
      <%= render 'shared/before_login_header'%>
    <% end %>
    <div class="container_fluid">
      <%= yield %>
    </div>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <%= render 'shared/footer' %>
  </div>
  </body>
</html>

