<!DOCTYPE html>
<html>
  <head>
    <% if Rails.env.production? %>
      <%= render 'layouts/google_analytics' %>
    <% end %>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Smoothtrade</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome-animation/0.2.1/font-awesome-animation.css" type="text/css" media="all" />
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

    <title><%= full_title(yield(:title)) %></title>
    <meta name="description" content="<%= full_description(yield(:description)) %>" />
    <meta property="og:locale" content="ja_JP" />
    <meta property="og:title" content="<%= full_title(yield(:og_title)) %>" />
    <meta property="og:description" content="<%= og_description(yield(:og_description)) %>" />
    <meta property="og:url" content="<%= request.url %>" />
    <meta property="og:image" content="<%= og_image(yield(:og_image)) %>" />
    <meta property="og:site_name" content="SMoothTrade" />　<!--サイト名を記述します-->
    <meta property="og:type" content="article" /> <!--TOPページの場合は"website"、WEBサイト上の記事ページなど、TOPページ以外には"article"を指定します。-->
    <meta name="twitter:card" content="summary" />　<!--"article"は画像とテキスト情報が横並びに表示され、"summary_large_image"は画像が横幅いっぱいに拡大されテキスト情報は下に表示されます-->
    <meta name="twitter:site" content="@Smoothtrade212" /> <!--ツイッターユーザー名を記述します-->
    <meta name="twitter:image" content="<%= og_image(yield(:og_image)) %>" />
    <meta name="twitter:title" content="<%= full_title(yield(:og_title)) %>" />
    <meta name="twitter:description" content="<%= og_description(yield(:og_description)) %>" />
    <!--省略-->
    <%= display_meta_tags(default_meta_tags) %>
  </head>

  <body>
  <div class='background'>
    <% if user_signed_in? %>
      <%= render 'shared/header' %>
    <% else %>
      <%= render 'shared/before_login_header'%>
    <% end %>
    <div class="container_fluid">
      <%= yield %>
    </div>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <%= render 'shared/footer' %>
  </div>
  </body>
</html>

